<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline my-4 my-lg-0">
            <div class="btn-group">
                <button type="button" class="btn btn-secundary">{{bookTitle}}</button>
                <button type="button" class="btn btn-secundary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeBook(book)" *ngFor="let book of books | async">
                        {{book.name}}
                    </a>
                </div>
            </div>

        </form>
        <ul class="navbar-nav mr-auto" *ngIf="bookId">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="#" [routerLink]="['/book', bookId]">Capítulos</a>
            </li>
        </ul>
    </div>
</nav>