<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header fixed">
            <a class="btn btn-transparent btn-equal btn-menu" href="javascript:void(0);"><i class="fa fa-bars fa-lg"></i></a>
        </div>
        <div app-navbar class="collapse navbar-collapse" id="header-navbar-collapse"></div>
    </nav>
</header>
<div id="base">
    <div app-menu id="sidebar" class="sidebar-fixed"></div>
    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>